.product-list {
  margin-bottom: 48px;
  min-height: 100vh;
  background-color: var(--dark);
  padding-top: 40px;
}

.product-list-title {
  padding: 12px;
  color: var(--primary-100);
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 0.05em;
}

.product-list-alert {
  padding: var(--padding-content) var(--padding-page-top);
  background-color: rgba(255,255,255,0.05);
  border-radius: 2rem;
  box-shadow: 0 0 5px 5px rgba(255,255,255,0.1);
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: var(--margin-base);
}

.product-list-alert a {
  text-decoration: underline solid transparent;
  color: var(--primary-100);
  transition: color 0.7s, text-decoration 0.7s;
}

.product-list-alert a:hover {
  color: white;
  text-decoration: underline solid white;
}

.product-list-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -16px;
}

.product-item {
  flex: 0 100%;
  padding: 16px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.product-image-wrapper {
  position: relative;
  min-height: 200px;
  cursor: pointer;
}

.product-name {
  font-size: 1.75rem;
  position: relative;
  z-index: 1;
  padding-left: var(--padding-product);
  transition: color 1.5s ease;
}

.product-name:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #ffffffd1, var(--primary-100t));
  width: 0;
  height: 100%;
  transition: width 1s ease-in-out;
  z-index: -1;
}

.product-item:hover .product-name, .product-name:hover {
  color: black;
}

.product-item:hover .product-name:before, .product-name:hover:before {
  width: 100%;
}

.product-price {
  font-size: 1.2rem;
  font-family: 'Oswald', sans-serif;
  padding-left: var(--padding-product);
}

.product-link {
  display: inline-block;
  width: 100%;
  padding: 12px;
  text-decoration: none;
  margin-top: auto;
  transition: all 0.25s ease-in-out;
  color: var(--primary-500);
  background-color: var(--primary-400);
}

.product-link:hover {
  color: var(--primary-100);
  background-color: var(--primary-500);
}

@media screen and (min-width: 768px) {
  .product-item {
    flex: 0 33.333%;
  }
  .product-image-wrapper {
    min-height: 400px;
  }
}