.header {
  max-width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  z-index: 10;
  border-right: 1px solid #747474;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  align-content: space-between;
}

.header-logo {
  margin-top: 40px;
  flex: 0 100%;
  min-width: 200px;
  position: relative;
}

/* .header-logo img:first-child {
  transition: transform 0.3s ease-in-out;
}

.header-logo:hover img:first-child {
  transform: scale(1.1);
} */

.second-image {
  opacity: 0.2;
  transform: rotateX(70deg);
  position: absolute;
  top: 52px;
  left: 0;
}

.header-nav {
  flex: 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.header-link {
  font-family: 'Nasalization', sans-serif;
  text-transform: lowercase;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  line-height: 1;
  padding: var(--padding-nav-vert) var(--padding-nav-horiz);
  color: var(--primary-100);
  transition: all 0.25s ease-in;
  margin: var(--margin-nav-vert) 0;
}

.header-link-active,
.header-link:hover,
.header-link:active,
.header-link:focus {
  color: var(--primary-500);
  background: linear-gradient(90deg, var(--primary-400t), #ffffff3d);
  border-radius: 50%;
}

/* .header-link-active {
  transform: translateY(-50px);
} */

@media screen and (min-width: 768px) {
  .header-logo {
    flex: 0 25%;
  }

  .header-nav {
    flex: 0 auto;
    height: calc(100% - 200px);
    justify-content: flex-end;
  }
}